.filters {
  overflow-y      : auto;
  height          : 100%;
  background-color: var(--brand-1);
  box-shadow      : 4px 0 3px rgba(0, 0, 0, 0.2);


  .filters__content {
    padding: 10px;

    .filters__accordion-item {
      border: 1px solid var(--brand-4);

      .filters__accordion-header {
        padding         : 10px;
        background-color: var(--brand-3);
        cursor          : pointer;

        &:hover {
          background-color: var(--brand-4);
        }
      }

      .filters__accordion-content {
        padding: 10px;
        display: none;

        &--open {
          display: block;
        }

        .filters__items {
          display  : flex;
          flex-wrap: wrap;

          .filters__checked-container {
            flex            : auto;
            background-color: var(--brand-4);
            padding         : 0.5rem;
            border          : 0.1px solid var(--brand-6);

            &--selected {
              background-color: var(--brand-9);
              color           : var(--font-light);
            }

            input[type="checkbox"] {
              margin-right: 5px;
            }

            label {
              border-radius: 4px;
              cursor       : pointer;

              &.filters__checked {}
            }
          }
        }
      }
    }
  }
}