.breadcrumb {
  display           : flex;
  gap               : 0.2rem;
  display           : -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
  overflow          : hidden;
  text-overflow     : ellipsis;
  white-space       : normal;
  width             : 100%;

  button {
    all: unset;
  }

  .breadcrumb__section {
    display: flex;
    gap    : 0.2rem;
  }
}