.images {
  display       : flex;
  flex-direction: column;
  gap           : 0.5rem;

  &.desktop {
    max-width: 40%;
    width    : 100%;
  }

  &__parent {
    max-height     : 50vh;
    max-width      : 100vw;
    padding        : 0.5rem;
    display        : flex;
    justify-content: center;
    height         : 100%;

    &.phone {
      height: 45vh;
    }

    >img {
      height      : 100%;
      width       : auto;
      max-width   : 100%;
    }
  }

  &__children {

    &-button {
      all            : unset;
      cursor         : pointer;
      width          : 100%;
      display        : flex;
      justify-content: center;
      padding        : 0.4rem;

      >img {
        height   : 6rem;
      }
    }
  }
}