.advertising-form {
  
  display            : flex;
  flex-direction     : column;
  width              : 100%;
  overflow           : hidden;
  gap                : 0.5rem;
  

  &__list {
    border: 0.1px solid var(--neutral-3);

    &-container {
      list-style   : none;
      margin       : 0;
      padding      : 0;
      

      .selected {
        background-color: var(--neutral-2);
      }

      .advertising-form__list-item {
        display              : grid;
        grid-template-columns: 1fr repeat(7, 5rem);


        &.phone {
          grid-template-columns: 1fr repeat(7, 1.5rem);
        }


        button {
          all             : unset;
          height          : 100%;
          width           : 100%;
          display         : flex;
          justify-content : center;
          align-items     : center;
          background-color: var(--brand-6);
          cursor          : pointer;
        }

        >div {
          border         : 0.1px solid var(--neutral-2);
          display        : flex;
          justify-content: center;
          align-items    : center;
        }

        .title {
          color          : var(--information-8);
          justify-content: flex-start;
        }

        .item-title {
          font-weight    : bold;
          text-align     : center;
          display        : flex;
          justify-content: center;
          align-items    : center;
        }
      }
    }
  }

  &__input {
    display              : grid;
    gap                  : 0.5rem;
    
    

    &.tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    &.desktop,
    &.tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__button {
    display        : flex;
    justify-content: flex-end;

    >div {
      display  : flex;
      max-width: 16rem;
      gap      : 1rem;
    }
  }
}















































