@import './style/images';
@import './style/content';
@import './style/other';

.product-detail {
  display       : flex;
  flex-direction: column;
  max-width     : 100%;
  overflow-x    : hidden;
  gap           : 1rem;
  padding       : 2%;

  &.phone {
    gap: 0.2rem;
  }

  * {
    box-sizing: border-box;
  }

  &__breadcrumb {
    display: block;
  }

  &__images--content {

    .images-content {
      display: flex;
      gap    : 1rem;

      &.phone {
        flex-direction: column;
      }
    }
  }

  &__other {
    display: block;
  }
}